*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body,
html{
    height: 100%;
    overflow: hidden;
}
body{
    background: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    font-family:"Black Ops One", system-ui;
}
.navbar{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
}